/* Global CSS */
* {
  box-sizing: border-box;
}

/* Base font size for the document */
html {
  font-size: 16px;
}

/* Body font style */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Styling for the nutrition label container */
.label {
  border: 2px solid blue;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

/* Styling for the header element within the label */
header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

/* General styling for paragraphs */
p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* Styling for the divider element */
.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

/* Styling for bold text */
.bold {
  font-weight: 800;
}

/* Styling for a large-sized element */
.large {
  height: 10px;
}

/* Styling for both large and medium-sized elements */
.large,
.medium {
  background-color: black;
  border: 0;
}

/* Styling for a medium-sized element */
.medium {
  height: 5px;
}

/* Styling for small text */
.small-text {
  font-size: 0.85rem;
}

/* Styling for the calories information section */
.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Styling for the heading within the calories information section */
.calories-info h2 {
  margin: 0;
}

/* Styling for the left container within the calories information section */
.left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

/* Styling for the span within the calories information section */
.calories-info span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

/* Styling for elements aligned to the right */
.right {
  justify-content: flex-end;
}

/* Styling for indented elements */
.indent {
  margin-left: 1em;
}

/* Styling for double indented elements */
.double-indent {
  margin-left: 2em;
}

/* Styling for the daily value paragraphs, excluding those with the no-divider class */
.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

/* Styling for the note at the bottom of the label */
.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}
